# USAU College Nationals Data Prep

In [1]:
import os
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./data/ultimate/collegenationals_men/all_reorganized.csv')
df.head()

,year,event,type,winner_team,loser_team,winner_score,loser_score,winner_seed,loser_seed
0,2014,USA-Ultimate-D-I-College-Championships/schedul...,pool,Colorado (1),Harvard (8),15,11,1,8
1,2014,USA-Ultimate-D-I-College-Championships/schedul...,pool,Wisconsin (12),California-San Diego (13),15,7,12,13
2,2014,USA-Ultimate-D-I-College-Championships/schedul...,pool,Harvard (8),California-San Diego (13),15,14,8,13
3,2014,USA-Ultimate-D-I-College-Championships/schedul...,pool,Wisconsin (12),Eastern Michigan (17),15,11,12,17
4,2014,USA-Ultimate-D-I-College-Championships/schedul...,pool,Colorado (1),Eastern Michigan (17),15,9,1,17

In [26]:
pool = df[df['type']=='pool']
count_seed_wins = pool[['winner_seed','loser_seed']].groupby(['winner_seed']).count()
count_seed_loss = pool[['winner_seed','loser_seed']].groupby(['loser_seed']).count()
record = count_seed_wins.join(count_seed_loss)
record.columns = ['W','L']
del record.index.name
record

     W   L
1   21   3
2   19   5
3   16   8
4   17   7
5   16   8
6   18   6
7   12  12
8   15   9
9   15   9
10  12  12
11  19   5
12   9  15
13   9  15
14   8  16
15   9  15
16  11  13
17   6  18
18   2  22
19   5  19
20   1  23