# USAU College Nationals Data Prep

In [1]:
import os
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv('./data/ultimate/CollegeSeries/open_nationals_allgames.csv')
df['pnt_diff'] = df['home_score'] - df['away_score']
df['home_W'] = df['home_score'] > df['away_score']
df.head()

,event,type,home_team,away_team,home_score,away_score,home_seed,away_seed,pnt_diff,home_W
0,USA-Ultimate-D-I-College-Championships/schedul...,pool,Colorado (1),Harvard (8),15,11,1,8,4,True
1,USA-Ultimate-D-I-College-Championships/schedul...,pool,Wisconsin (12),California-San Diego (13),15,7,12,13,8,True
2,USA-Ultimate-D-I-College-Championships/schedul...,pool,Harvard (8),California-San Diego (13),15,14,8,13,1,True
3,USA-Ultimate-D-I-College-Championships/schedul...,pool,Wisconsin (12),Eastern Michigan (17),15,11,12,17,4,True
4,USA-Ultimate-D-I-College-Championships/schedul...,pool,Colorado (1),Eastern Michigan (17),15,9,1,17,6,True

Here's the probabilities for pool play

In [19]:
pool = df[df['type']=='pool']
pool_info = pool[['home_seed','away_seed','pnt_diff','home_W']].groupby(['home_seed','away_seed']).agg(['sum'])
years = pool['event'].nunique()
pool_info['home_W']['sum']/years

home_seed  away_seed
1          8            0.833333
           12           1.000000
           13           0.666667
           17           1.000000
2          7            0.833333
           11           0.500000
           14           0.833333
           18           1.000000
3          6            0.666667
           10           0.666667
           15           0.666667
           19           0.666667
4          5            0.500000
           9            0.833333
           16           0.500000
           20           1.000000
5          9            0.500000
           16           0.666667
           20           1.000000
6          10           0.666667
           15           1.000000
           19           1.000000
7          11           0.166667
           14           0.666667
           18           1.000000
8          12           0.833333
           13           0.666667
           17           0.833333
9          16           0.833333
           20           1.000000
10         15           0.500000
           19           0.833333
11         14           1.000000
           18           0.833333
12         13           0.666667
           17           0.666667
13         17           0.500000
14         18           0.833333
15         19           0.666667
16         20           0.833333
Name: sum, dtype: float64

Here's the probabilities for bracket play

In [18]:
brak = df[df['type']=='bracket']
brak_info = brak[['home_seed','away_seed','pnt_diff','home_W']].groupby(['home_seed','away_seed']).agg(['sum'])
years = brak['event'].nunique()
brak_info['home_W']['sum']/years

home_seed  away_seed
1          2            0.000000
           4            0.500000
           6            0.166667
           7            0.000000
           9            0.000000
2          1            0.000000
           10           0.000000
           15           0.166667
3          2            0.000000
           4            0.000000
           7            0.166667
           11           0.000000
           14           0.333333
4          3            0.000000
           11           0.166667
           17           0.166667
5          2            0.166667
           3            0.166667
           4            0.000000
           6            0.166667
           8            0.166667
           12           0.333333
6          1            0.000000
           2            0.166667
           4            0.166667
           5            0.166667
           7            0.166667
           9            0.166667
           11           0.166667
           14           0.000000
                          ...
9          17           0.500000
10         1            0.000000
           4            0.000000
           7            0.333333
           8            0.166667
           9            0.000000
           14           0.000000
11         1            0.000000
           6            0.000000
           10           0.000000
           15           0.166667
12         6            0.000000
           20           0.333333
13         16           0.166667
           20           0.333333
14         4            0.000000
           19           0.166667
15         3            0.000000
           6            0.166667
           7            0.166667
           13           0.166667
           18           0.000000
16         12           0.000000
           13           0.166667
           17           0.166667
18         10           0.166667
           19           0.166667
19         7            0.166667
           14           0.000000
20         12           0.166667
Name: sum, Length: 67, dtype: float64

From these seeding matchup probabilities for pool play, we can calculate further interesting likelihoods