# USAU College Nationals Data Prep

In [1]:
import os
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
import matplotlib.pyplot as plt

In [38]:
pool = pd.read_csv('./data/ultimate/collegenationals_men/all_poolplay.csv')
pool['pnt_diff'] = df['winner_score'] - df['loser_score']
pool.head()

,year,event,type,winner_team,loser_team,winner_score,loser_score,winner_seed,loser_seed,pnt_diff
0,2014,USA-Ultimate-D-I-College-Championships/schedul...,pool,Colorado (1),Harvard (8),15,11,1,8,4
1,2014,USA-Ultimate-D-I-College-Championships/schedul...,pool,Wisconsin (12),California-San Diego (13),15,7,12,13,8
2,2014,USA-Ultimate-D-I-College-Championships/schedul...,pool,Harvard (8),California-San Diego (13),15,14,8,13,1
3,2014,USA-Ultimate-D-I-College-Championships/schedul...,pool,Wisconsin (12),Eastern Michigan (17),15,11,12,17,4
4,2014,USA-Ultimate-D-I-College-Championships/schedul...,pool,Colorado (1),Eastern Michigan (17),15,9,1,17,6

In [39]:
count_seed_wins = pool[['year','winner_seed','loser_seed']].groupby(['year','winner_seed']).count()
count_seed_wins.index.names = ['year','seed']
count_seed_wins.columns = ['W']
count_seed_loss = pool[['year','winner_seed','loser_seed']].groupby(['year','loser_seed']).count()
count_seed_loss.index.names = ['year','seed']
count_seed_loss.columns = ['L']
seed_record_byYear = count_seed_wins.join(count_seed_loss)
seed_record_byYear.fillna(0,inplace=True)
seed_record_byYear

           W    L
year seed
2014 1     3  1.0
     2     4  0.0
     3     3  1.0
     4     4  0.0
     5     2  2.0
     6     3  1.0
     7     1  3.0
     8     3  1.0
     9     1  3.0
     10    2  2.0
     11    2  2.0
     12    2  2.0
     13    2  2.0
     14    2  2.0
     15    2  2.0
     16    3  1.0
     18    1  3.0
2015 1     3  1.0
     2     2  2.0
     3     3  1.0
     4     2  2.0
     5     3  1.0
     6     3  1.0
     7     4  0.0
     8     2  2.0
     9     4  0.0
     10    1  3.0
     11    3  1.0
     12    1  3.0
     13    3  1.0
...       ..  ...
2018 5     3  1.0
     6     2  2.0
     7     2  2.0
     8     3  1.0
     9     3  1.0
     10    3  1.0
     11    3  1.0
     13    1  3.0
     14    1  3.0
     15    1  3.0
     17    2  2.0
     18    1  3.0
     19    1  3.0
     20    1  3.0
2019 1     4  0.0
     2     4  0.0
     3     3  1.0
     4     3  1.0
     5     3  1.0
     6     3  1.0
     7     1  3.0
     8     2  2.0
     9     2  2.0
     10    2  2.0
     11    3  1.0
     12    2  2.0
     13    2  2.0
     14    2  2.0
     16    2  2.0
     19    2  2.0

[103 rows x 2 columns]