In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
bucks = pd.read_csv('./data/basketball/BucksRosterFY20.csv')
bucks

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College
0,11.0,Brook Lopez,C,7-0,270,April 1 1988,us,11,Stanford
1,9.0,Wesley Matthews,SG,6-4,220,October 14 1986,us,10,Marquette
2,24.0,Pat Connaughton,SG,6-5,209,January 6 1993,us,4,Notre Dame
3,0.0,Donte DiVincenzo,SG,6-4,203,January 31 1997,us,1,Villanova
4,42.0,Robin Lopez,C,7-0,275,April 1 1988,us,11,Stanford
5,34.0,Giannis Antetokounmpo,PF,6-11,242,December 6 1994,gr,6,NaN
6,7.0,Ersan Ilyasova,PF,6-9,235,May 15 1987,tr,11,NaN
7,6.0,Eric Bledsoe,PG,6-1,205,December 9 1989,us,9,Kentucky
8,22.0,Khris Middleton,SF,6-7,222,August 12 1991,us,7,Texas A&M
9,3.0,George Hill,PG,6-3,188,May 4 1986,us,11,IUPUI
10,26.0,Kyle Korver,SF,6-7,212,March 17 1981,us,16,Creighton
11,23.0,Sterling Brown,SF,6-5,232,February 10 1995,us,2,SMU
12,5.0,D.J. Wilson,PF,6-10,231,February 19 1996,us,2,Michigan
13,43.0,Thanasis Antetokounmpo,SF,6-6,205,July 18 1992,gr,1,NaN
14,20.0,Marvin Williams,PF,6-8,237,June 19 1986,us,14,UNC
15,15.0,Frank Mason III (TW),PG,5-11,190,April 3 1994,us,2,Kansas
16,NaN,Cameron Reynolds (TW),G,6-7,225,February 7 1995,us,1,Tulane

In [ ]:
lakers = pd.read_csv('./data/basketball/LakersRosterFY20.csv')
lakers